:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: sans-serif;
  --font-accent: Montserrat Alternates, sans-serif;


  --text-accent: #45403D;
  --alt-text: #A26539;
  --bg-color: #F6F5F4;


  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
  }